/* line 21, scss/_menu.scss */
.nux-options {
  background: #eee;
  font-family: 'Open Sans', Helvetica, sans-serif;
  left: 10%;
  overflow: hidden;
  padding: 2%;
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: 9994;
}
/* line 32, scss/_menu.scss */
.nux-options .option {
  background: #fff;
  border: 4px solid #e8e8e8;
  color: #999;
  float: left;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 22px;
  margin: 1.5%;
  padding: 4% 1%;
  position: relative;
  text-align: center;
  width: 27%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
/* line 49, scss/_menu.scss */
.nux-options .option:hover, .nux-options .option.active {
  background: #eef5fb;
  border: 4px solid #00aadc;
  color: #333;
}
/* line 55, scss/_menu.scss */
.nux-options .option span.big-icon {
  display: block;
  font-size: 63px;
  margin-bottom: 13px;
}
/* line 62, scss/_menu.scss */
.nux-options a {
  text-decoration: none;
}
/* line 66, scss/_menu.scss */
.nux-options h1 {
  color: #222;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 1%;
  padding: 0 1%;
}

/* line 76, scss/_menu.scss */
.close-nux-options {
  color: #999;
  float: right;
  text-decoration: none;
}
/* line 81, scss/_menu.scss */
.close-nux-options:hover {
  opacity: 0.7;
}
/* line 84, scss/_menu.scss */
.close-nux-options span:before {
  font-size: 18px;
}

/* line 89, scss/_menu.scss */
.nux-shade {
  background: #222;
  bottom: 0;
  cursor: pointer;
  display: none;
  left: 0;
  opacity: 0.7;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9993;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@media (max-width: 1156px) {
  /* line 2, scss/_menu-media-queries.scss */
  .nux-options .option {
    font-size: 16px;
    padding: 4% 1%;
  }
  /* line 6, scss/_menu-media-queries.scss */
  .nux-options .option span.big-icon {
    font-size: 43px;
  }
}
@media (max-width: 796px) {
  /* line 12, scss/_menu-media-queries.scss */
  .jps-admin-menu {
    display: none;
  }

  /* line 16, scss/_menu-media-queries.scss */
  .nux-options h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  /* line 20, scss/_menu-media-queries.scss */
  .nux-options .option {
    display: block;
    float: none;
    font-size: 23px;
    padding: 6% 1%;
    width: 94%;
  }
  /* line 27, scss/_menu-media-queries.scss */
  .nux-options .option span.big-icon {
    font-size: 53px;
  }
}
