.welcome__container {
  /*Checkbooms*/
  /* end checkbooms */
  /*Search Inputs*/ }
  .welcome__container input[type=checkbox]:checked:before, .welcome__container .checkbox-tristate:checked:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .welcome__container form ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .welcome__container input[type="text"], .welcome__container input[type="search"], .welcome__container input[type="email"], .welcome__container input[type="number"], .welcome__container input[type="password"], .welcome__container input[type=checkbox], .welcome__container .checkbox-tristate, .welcome__container input[type=radio], .welcome__container input[type="tel"], .welcome__container input[type="url"], .welcome__container textarea {
    margin: 0;
    padding: 7px 14px;
    width: 100%;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #cccccc;
    background-color: #fff;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .welcome__container input[type="text"]::-webkit-input-placeholder, .welcome__container input[type="search"]::-webkit-input-placeholder, .welcome__container input[type="email"]::-webkit-input-placeholder, .welcome__container input[type="number"]::-webkit-input-placeholder, .welcome__container input[type="password"]::-webkit-input-placeholder, .welcome__container input[type=checkbox]::-webkit-input-placeholder, .welcome__container .checkbox-tristate::-webkit-input-placeholder, .welcome__container input[type=radio]::-webkit-input-placeholder, .welcome__container input[type="tel"]::-webkit-input-placeholder, .welcome__container input[type="url"]::-webkit-input-placeholder, .welcome__container textarea::-webkit-input-placeholder {
      color: #999999; }
    .welcome__container input[type="text"]:-ms-input-placeholder, .welcome__container input[type="search"]:-ms-input-placeholder, .welcome__container input[type="email"]:-ms-input-placeholder, .welcome__container input[type="number"]:-ms-input-placeholder, .welcome__container input[type="password"]:-ms-input-placeholder, .welcome__container input[type=checkbox]:-ms-input-placeholder, .welcome__container .checkbox-tristate:-ms-input-placeholder, .welcome__container input[type=radio]:-ms-input-placeholder, .welcome__container input[type="tel"]:-ms-input-placeholder, .welcome__container input[type="url"]:-ms-input-placeholder, .welcome__container textarea:-ms-input-placeholder {
      color: #999999; }
    .welcome__container input[type="text"]::placeholder, .welcome__container input[type="search"]::placeholder, .welcome__container input[type="email"]::placeholder, .welcome__container input[type="number"]::placeholder, .welcome__container input[type="password"]::placeholder, .welcome__container input[type=checkbox]::placeholder, .welcome__container .checkbox-tristate::placeholder, .welcome__container input[type=radio]::placeholder, .welcome__container input[type="tel"]::placeholder, .welcome__container input[type="url"]::placeholder, .welcome__container textarea::placeholder {
      color: #999999; }
    .welcome__container input[type="text"]:hover, .welcome__container input[type="search"]:hover, .welcome__container input[type="email"]:hover, .welcome__container input[type="number"]:hover, .welcome__container input[type="password"]:hover, .welcome__container input[type=checkbox]:hover, .welcome__container .checkbox-tristate:hover, .welcome__container input[type=radio]:hover, .welcome__container input[type="tel"]:hover, .welcome__container input[type="url"]:hover, .welcome__container textarea:hover {
      border-color: #b3b3b3; }
    .welcome__container input[type="text"]:focus, .welcome__container input[type="search"]:focus, .welcome__container input[type="email"]:focus, .welcome__container input[type="number"]:focus, .welcome__container input[type="password"]:focus, .welcome__container input[type=checkbox]:focus, .welcome__container .checkbox-tristate:focus, .welcome__container input[type=radio]:focus, .welcome__container input[type="tel"]:focus, .welcome__container input[type="url"]:focus, .welcome__container textarea:focus {
      border-color: #0073AA;
      outline: none;
      -webkit-box-shadow: 0 0 0 2px #008ec2;
              box-shadow: 0 0 0 2px #008ec2; }
      .welcome__container input[type="text"]:focus::-ms-clear, .welcome__container input[type="search"]:focus::-ms-clear, .welcome__container input[type="email"]:focus::-ms-clear, .welcome__container input[type="number"]:focus::-ms-clear, .welcome__container input[type="password"]:focus::-ms-clear, .welcome__container input[type=checkbox]:focus::-ms-clear, .welcome__container .checkbox-tristate:focus::-ms-clear, .welcome__container input[type=radio]:focus::-ms-clear, .welcome__container input[type="tel"]:focus::-ms-clear, .welcome__container input[type="url"]:focus::-ms-clear, .welcome__container textarea:focus::-ms-clear {
        display: none; }
    .welcome__container input[type="text"]:disabled, .welcome__container input[type="search"]:disabled, .welcome__container input[type="email"]:disabled, .welcome__container input[type="number"]:disabled, .welcome__container input[type="password"]:disabled, .welcome__container input[type=checkbox]:disabled, .welcome__container .checkbox-tristate:disabled, .welcome__container input[type=radio]:disabled, .welcome__container input[type="tel"]:disabled, .welcome__container input[type="url"]:disabled, .welcome__container textarea:disabled {
      background: #f7f7f7;
      border-color: #e6e6e6;
      color: #b3b3b3; }
      .welcome__container input[type="text"]:disabled:hover, .welcome__container input[type="search"]:disabled:hover, .welcome__container input[type="email"]:disabled:hover, .welcome__container input[type="number"]:disabled:hover, .welcome__container input[type="password"]:disabled:hover, .welcome__container input[type=checkbox]:disabled:hover, .welcome__container .checkbox-tristate:disabled:hover, .welcome__container input[type=radio]:disabled:hover, .welcome__container input[type="tel"]:disabled:hover, .welcome__container input[type="url"]:disabled:hover, .welcome__container textarea:disabled:hover {
        cursor: default; }
      .welcome__container input[type="text"]:disabled::-webkit-input-placeholder, .welcome__container input[type="search"]:disabled::-webkit-input-placeholder, .welcome__container input[type="email"]:disabled::-webkit-input-placeholder, .welcome__container input[type="number"]:disabled::-webkit-input-placeholder, .welcome__container input[type="password"]:disabled::-webkit-input-placeholder, .welcome__container input[type=checkbox]:disabled::-webkit-input-placeholder, .welcome__container .checkbox-tristate:disabled::-webkit-input-placeholder, .welcome__container input[type=radio]:disabled::-webkit-input-placeholder, .welcome__container input[type="tel"]:disabled::-webkit-input-placeholder, .welcome__container input[type="url"]:disabled::-webkit-input-placeholder, .welcome__container textarea:disabled::-webkit-input-placeholder {
        color: #b3b3b3; }
      .welcome__container input[type="text"]:disabled:-ms-input-placeholder, .welcome__container input[type="search"]:disabled:-ms-input-placeholder, .welcome__container input[type="email"]:disabled:-ms-input-placeholder, .welcome__container input[type="number"]:disabled:-ms-input-placeholder, .welcome__container input[type="password"]:disabled:-ms-input-placeholder, .welcome__container input[type=checkbox]:disabled:-ms-input-placeholder, .welcome__container .checkbox-tristate:disabled:-ms-input-placeholder, .welcome__container input[type=radio]:disabled:-ms-input-placeholder, .welcome__container input[type="tel"]:disabled:-ms-input-placeholder, .welcome__container input[type="url"]:disabled:-ms-input-placeholder, .welcome__container textarea:disabled:-ms-input-placeholder {
        color: #b3b3b3; }
      .welcome__container input[type="text"]:disabled::placeholder, .welcome__container input[type="search"]:disabled::placeholder, .welcome__container input[type="email"]:disabled::placeholder, .welcome__container input[type="number"]:disabled::placeholder, .welcome__container input[type="password"]:disabled::placeholder, .welcome__container input[type=checkbox]:disabled::placeholder, .welcome__container .checkbox-tristate:disabled::placeholder, .welcome__container input[type=radio]:disabled::placeholder, .welcome__container input[type="tel"]:disabled::placeholder, .welcome__container input[type="url"]:disabled::placeholder, .welcome__container textarea:disabled::placeholder {
        color: #b3b3b3; }
  .welcome__container textarea {
    min-height: 92px; }
  .welcome__container fieldset,
  .welcome__container input[type="text"],
  .welcome__container input[type="search"],
  .welcome__container input[type="email"],
  .welcome__container input[type="number"],
  .welcome__container input[type="password"],
  .welcome__container input[type="tel"],
  .welcome__container input[type="url"],
  .welcome__container textarea,
  .welcome__container select,
  .welcome__container label {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .welcome__container input[type=checkbox], .welcome__container .checkbox-tristate,
  .welcome__container input[type=radio] {
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: 4px 0 0;
    float: left;
    outline: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .welcome__container input[type=checkbox] + span, .welcome__container .checkbox-tristate + span,
  .welcome__container input[type=radio] + span {
    display: block;
    margin-left: 24px; }
  .welcome__container input[type=checkbox]:checked:before, .welcome__container .checkbox-tristate:checked:before {
    content: '\f147';
    margin: -4px 0 0 -5px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 23px/1 Dashicons;
    speak: none;
    color: #0085ba; }
  .welcome__container input[type=checkbox]:disabled:checked:before, .welcome__container .checkbox-tristate:disabled:checked:before {
    color: #b3b3b3; }
  .welcome__container input[type=radio] {
    border-radius: 50%;
    margin-right: 4px;
    line-height: 10px; }
    .welcome__container input[type=radio]:checked:before {
      float: left;
      display: inline-block;
      content: '\f159';
      margin: 3px;
      width: 8px;
      height: 8px;
      text-indent: -9999px;
      background: #0085ba;
      vertical-align: middle;
      border-radius: 50%;
      -webkit-animation: grow .2s ease-in-out;
              animation: grow .2s ease-in-out; }
    .welcome__container input[type=radio]:disabled:checked:before {
      background: #e6e6e6; }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3); }
  60% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes grow {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3); }
  60% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes grow {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3); }
  60% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
  .welcome__container .checkbox-tristate {
    position: relative;
    margin: 20px 0 19px 20px; }
    .welcome__container .checkbox-tristate:before {
      position: absolute;
      color: #0085ba;
      font-family: Dashicons; }
    .some-selected .welcome__container .checkbox-tristate:before {
      content: '\f460';
      top: 7px;
      left: 0; }
    .all-selected .welcome__container .checkbox-tristate:before {
      content: url("data:image/svg+xml;utf8,<svg fill='#0085ba' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M9 19.414l-6.707-6.707 1.414-1.414L9 16.586 20.293 5.293l1.414 1.414'/></svg>");
      height: 100%;
      width: 100%;
      top: 0; }
  .welcome__container .toggle[type="checkbox"] {
    display: none; }
  .welcome__container .toggle + .toggle-label {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    padding: 2px;
    width: 40px;
    height: 24px;
    background: #b3b3b3;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .welcome__container .toggle + .toggle-label:after, .welcome__container .toggle + .toggle-label:before {
      position: relative;
      display: block;
      content: "";
      width: 20px;
      height: 20px; }
    .welcome__container .toggle + .toggle-label:after {
      left: 0;
      border-radius: 50%;
      background: #fff;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .welcome__container .toggle + .toggle-label:before {
      display: none; }
    .welcome__container .toggle + .toggle-label:hover {
      background: #cccccc; }
  .welcome__container .toggle:focus + .toggle-label {
    -webkit-box-shadow: 0 0 0 2px #0085ba;
            box-shadow: 0 0 0 2px #0085ba; }
  .welcome__container .toggle:focus:checked + .toggle-label {
    -webkit-box-shadow: 0 0 0 2px #008ec2;
            box-shadow: 0 0 0 2px #008ec2; }
  .welcome__container .toggle:checked + .toggle-label {
    background: #0085ba; }
    .welcome__container .toggle:checked + .toggle-label:after {
      left: 16px; }
  .welcome__container .toggle:checked:hover + .toggle-label {
    background: #008ec2; }
  .welcome__container .toggle:disabled + .toggle-label, .welcome__container .toggle:disabled:hover + .toggle-label {
    background: #e6e6e6; }
  .welcome__container .toggle.is-toggling + .toggle-label {
    background: #0085ba; }
  .welcome__container .toggle.is-toggling:checked + .toggle-label {
    background: #cccccc; }
  .welcome__container select {
    background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPmFycm93LWRvd248L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4gICAgICAgIDxnIGlkPSJhcnJvdy1kb3duIiBza2V0Y2g6dHlwZT0iTVNBcnRib2FyZEdyb3VwIiBmaWxsPSIjQzhEN0UxIj4gICAgICAgICAgICA8cGF0aCBkPSJNMTUuNSw2IEwxNyw3LjUgTDEwLjI1LDE0LjI1IEwzLjUsNy41IEw1LDYgTDEwLjI1LDExLjI1IEwxNS41LDYgWiIgaWQ9IkRvd24tQXJyb3ciIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==) no-repeat right 10px center;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px 1px 2px;
    color: #555;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 7px 32px 9px 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .welcome__container select:hover {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPmFycm93LWRvd248L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4gICAgICAgIDxnIGlkPSJhcnJvdy1kb3duIiBza2V0Y2g6dHlwZT0iTVNBcnRib2FyZEdyb3VwIiBmaWxsPSIjYThiZWNlIj4gICAgICAgICAgICA8cGF0aCBkPSJNMTUuNSw2IEwxNyw3LjUgTDEwLjI1LDE0LjI1IEwzLjUsNy41IEw1LDYgTDEwLjI1LDExLjI1IEwxNS41LDYgWiIgaWQ9IkRvd24tQXJyb3ciIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==); }
    .welcome__container select:focus {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiA8dGl0bGU+YXJyb3ctZG93bjwvdGl0bGU+IDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiA8ZGVmcz48L2RlZnM+IDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPiA8ZyBpZD0iYXJyb3ctZG93biIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgZmlsbD0iIzJlNDQ1MyI+IDxwYXRoIGQ9Ik0xNS41LDYgTDE3LDcuNSBMMTAuMjUsMTQuMjUgTDMuNSw3LjUgTDUsNiBMMTAuMjUsMTEuMjUgTDE1LjUsNiBaIiBpZD0iRG93bi1BcnJvdyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPiA8L2c+IDwvZz48L3N2Zz4=);
      border-color: #0085ba;
      -webkit-box-shadow: 0 0 0 2px #008ec2;
              box-shadow: 0 0 0 2px #008ec2;
      outline: 0;
      -moz-outline: none;
      -moz-user-focus: ignore; }
    .welcome__container select:disabled, .welcome__container select:hover:disabled {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPmFycm93LWRvd248L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4gICAgICAgIDxnIGlkPSJhcnJvdy1kb3duIiBza2V0Y2g6dHlwZT0iTVNBcnRib2FyZEdyb3VwIiBmaWxsPSIjZTllZmYzIj4gICAgICAgICAgICA8cGF0aCBkPSJNMTUuNSw2IEwxNyw3LjUgTDEwLjI1LDE0LjI1IEwzLjUsNy41IEw1LDYgTDEwLjI1LDExLjI1IEwxNS41LDYgWiIgaWQ9IkRvd24tQXJyb3ciIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==) no-repeat right 10px center; }
    .welcome__container select.is-compact {
      min-width: 0;
      padding: 0 20px 2px 6px;
      margin: 0 4px;
      background-position: right 5px center;
      background-size: 12px 12px; }
    label .welcome__container select,
    label + .welcome__container select {
      display: block;
      min-width: 200px; }
      label .welcome__container select.is-compact,
      label + .welcome__container select.is-compact {
        display: inline-block;
        min-width: 0; }
    .welcome__container select::-ms-expand {
      display: none; }
    .welcome__container select::-ms-value {
      background: none;
      color: #555; }
    .welcome__container select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #555; }
  .welcome__container input[type="search"]::-webkit-search-decoration {
    display: none; }

.welcome__container {
  text-align: center; }
  .welcome__container h1 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
    padding-right: 0;
    margin-bottom: 0; }
    @media (max-width: 600px) {
      .welcome__container h1 {
        font-size: 20px; } }
  .welcome__container h4 {
    margin-bottom: 10px;
    border-bottom: 1px #ddd solid; }
  .welcome__container h5 {
    margin-top: 0;
    font-size: 1em;
    font-weight: 400; }
  .welcome__container input,
  .welcome__container select {
    margin: 1;
    padding: 3px 5px; }
  .welcome__container input[type="text"] {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #fff;
    border: 1px solid #d5d5d5;
    padding: 8px 10px; }
  .welcome__container .submit {
    background-color: #EEE;
    text-align: right; }
  .welcome__container .welcome__callout {
    margin-top: 8px;
    margin-bottom: 40px;
    color: #777;
    font-size: 18px;
    line-height: 1.5; }
    @media (max-width: 600px) {
      .welcome__container .welcome__callout {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 13px; } }
  .welcome__container .welcome__skip-link {
    color: #bbb;
    font-size: 90%;
    margin-left: 20px;
    border-bottom: 1px dotted #bbb; }

#jpo-welcome-panel {
  position: fixed;
  top: 32px;
  left: 160px;
  bottom: 0;
  z-index: 999;
  width: calc( 100% - 160px);
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1f1f1; }
  #jpo-welcome-panel *, #jpo-welcome-panel *:before, #jpo-welcome-panel *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  @media (max-width: 960px) {
    #jpo-welcome-panel {
      left: 36px;
      width: calc( 100% - 36px); } }
  @media (max-width: 782px) {
    #jpo-welcome-panel {
      top: 0;
      left: 0px;
      width: 100%; } }

.welcome__wrapper {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  margin: 56px 10px 10px;
  padding: 52px 16px;
  min-height: 600px;
  min-height: calc( 100vh - 66px); }
  .welcome__wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 782px) {
    .welcome__wrapper {
      margin: 20px;
      padding: 80px 16px;
      min-height: calc( 100vh - 72px); } }
  .welcome__wrapper button + button {
    margin-left: 20px; }
  .welcome__wrapper img {
    width: 100%;
    max-width: 100%; }

.welcome__container {
  padding: 0 10px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }

.welcome__content-box {
  background: white;
  margin: 10px;
  border: 1px solid #eee; }

.welcome__debug {
  position: relative;
  z-index: 11; }

.welcome__loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6); }

.welcome__loading-message {
  position: absolute;
  left: 50%;
  top: 200px;
  padding: 20px;
  width: 50%;
  min-width: 300px;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  border: 2px solid #888;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .welcome__loading-message * {
    vertical-align: middle; }

.welcome__submit {
  margin-top: 32px; }

img.welcome__loading-spinner {
  width: 16px;
  height: 16px; }

#welcome__jetpack .welcome__skip-step {
  margin-left: 10px; }

.welcome__container .welcome__get-started--callout {
  margin-top: 8px;
  margin-bottom: 40px; }
  @media (max-width: 600px) {
    .welcome__container .welcome__get-started--callout {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 13px; } }

img.welcome__get-started-image {
  width: 60vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media (max-width: 550px), (max-height: 750px) {
    img.welcome__get-started-image {
      display: none; } }

#welcome__site-title .welcome__site-title--form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left; }
  #welcome__site-title .welcome__site-title--form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #welcome__site-title .welcome__site-title--form input {
    display: block;
    width: 100%;
    margin-bottom: 16px; }
  #welcome__site-title .welcome__site-title--form button {
    margin-top: 32px; }
  #welcome__site-title .welcome__site-title--form .welcome__submit {
    text-align: center; }

.welcome__homepage-cols {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.welcome__homepage-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media (max-width: 700px) {
    .welcome__homepage-col {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%;
      margin-bottom: 15px; } }
  .welcome__homepage-col img {
    max-width: 320px;
    height: auto;
    vertical-align: middle; }
  .welcome__homepage-col.is-selected img {
    -webkit-box-shadow: 0 0 0 3px #bfe7f3;
            box-shadow: 0 0 0 3px #bfe7f3; }

.welcome__contact img {
  max-width: 320px; }

.welcome__review-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px; }
  @media (max-width: 700px) {
    .welcome__review-cols {
      margin-top: 0; } }

.welcome__review-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media (max-width: 700px) {
    .welcome__review-col {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%;
      margin-bottom: 15px; } }
  .welcome__review-col .dashicons {
    color: #0073AA;
    vertical-align: middle; }

.welcome__review-list {
  display: inline-block;
  text-align: left; }
  .welcome__review-list ul {
    margin-top: 6px;
    margin-left: 30px; }

.welcome__dismiss {
  position: absolute;
  top: 8px;
  right: 16px; }
  .welcome__dismiss * {
    vertical-align: middle; }
  .welcome__dismiss a {
    text-decoration: none; }

.welcome__review-cta img {
  max-width: 320px;
  border: 1px solid #ccd8e1; }

.jetpack_connect_info {
  text-align: left;
  float: left;
  width: 43%;
  margin: 0 3.5%; }
  @media screen and (max-width: 782px) {
    .jetpack_connect_info {
      width: 95%;
      margin: 0 5%;
      float: none; } }
  .jetpack_connect_info h2 {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px 0; }
  .jetpack_connect_info img {
    width: 100%;
    float: left;
    margin: 0 0 20px 0; }

.welcome__container .welcome__business-address--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.welcome__container input.welcome__business-address--input {
  max-width: 312px;
  margin-bottom: 16px; }

.welcome__container input#business-address-1,
.welcome__container input#business-address-2,
.welcome__container input#business-name {
  max-width: 100%; }

.welcome__container .welcome__button-container {
  width: 100%; }

.welcome__container .welcome__woocommerce--install-container {
  margin-bottom: 20px; }
  .welcome__container .welcome__woocommerce--install-container .welcome__woocommerce--checkbox {
    float: none;
    margin: 1px 8px 0 0; }
