.welcome__homepage-cols {
	max-width: 780px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.welcome__homepage-col {
	flex: 1;

	@media ( max-width: 700px ) {
		flex: 1 100%;
		margin-bottom: 15px;
	}

	img {
		max-width: 320px;
		height: auto;
		vertical-align: middle;
	}

	&.is-selected {
		img {
			box-shadow: 0 0 0 3px #bfe7f3;
		}
	}
}
