#welcome__site-title .welcome__site-title--form {
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
	@include fancy-clearfix;

	input {
		display: block;
		width: 100%;
		margin-bottom: 16px;
	}
	button {
		margin-top: 32px;
	}
	.welcome__submit {
		text-align: center;
	}
}
