// ==========================================================================
// Button variables
// ==========================================================================

$buttons:(
	primary__background: $medium-blue,
	primary__background--hover: $link-highlight,
	primary__color: $white,

	secondary__background: darken($ultra-light-gray, 5%),
	secondary__color: #6f7a88,
	secondary__color--hover: $dark-gray,
);

// ==========================================================================
// Button extends
// ==========================================================================

%button {
	display: inline-block;
	overflow: hidden;
	border-radius: 3px;
	font-size: 13px;
	line-height: 2;
	margin: 0;
	padding: .4em .9em;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	outline: 0;
	vertical-align: top;
	cursor: pointer;
	-webkit-appearance: none;

	&.hidden {
		display: none
	}
	&[disabled],
	&:disabled {
		cursor: default;
	}
}

%button--primary {
	@extend %button;
	background: map-get($buttons, primary__background);
	color: map-get($buttons, primary__color);

	&:active,
	&:hover,
	&:focus {
		color: map-get($buttons, primary__color);
		background: map-get($buttons, primary__background--hover);
	}
	&:visited {
		color: map-get($buttons, primary__color);
	}
	&[disabled],
	&:disabled {
		background: #298cba;
		border-color: #1b607f;
		color: #94cde7;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
	}
}

%button--secondary {
	@extend %button;
	background: map-get($buttons, secondary__background);
	color: map-get($buttons, secondary__color);

	&:active,
	&:hover,
	&:focus {
		color: map-get($buttons, secondary__color--hover);
	}
	&:visited {
		color: map-get($buttons, secondary__color);
	}
	&[disabled],
	&:disabled {
		color: #aaa;
		border-color: #ddd;
		text-shadow: 0 1px 0 #fff;
	}
}

// ==========================================================================
// Buttons :)
// ==========================================================================

.button,
.button--secondary,
button,
input[type="submit"] {
	@extend %button--secondary;
}

// Primary buttons
.button--primary {
	@extend %button--primary;
}

.button--jetpack {
	@extend %button;
	color: #fff;
	background: #518d2a;
	box-shadow: 0 6px 0 #3e6c20, 0 6px 3px rgba(0, 0, 0, 0.4);
}

// Custom-sized buttons
.button-large {
	height: 36px;
	line-height: 36px;
	padding: 0 16px 2px
}

.button-small {
	height: 24px;
	line-height: 22px;
	padding: 0 8px 1px;
	font-size: 11px
}

.button-hero {
	font-size: 15px;
	font-weight: 600;
	height: 46px;
	line-height: 44px;
	padding: 0 23px
}

// Turn Reset 'buttons' into regular text links
input {
	&[type=reset],
	&[type=reset]:hover,
	&[type=reset]:active,
	&[type=reset]:focus {
		background: 0 0;
		border: 0;
		padding: 0 2px 1px;
		width: auto;
	}
}

// Buttons within sentences sit on the text baseline.
p .button {
	vertical-align: baseline
}

// Firefox Junk
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	padding: 0
}
