$button-border-top:	shade($ultra-light-gray, 8%);
$button-border-side: shade($ultra-light-gray, 12%);
$button-border-bottom: shade($ultra-light-gray, 14%);

.button,
button,
input[type="submit"] {
	background: $ultra-light-gray;
	border-color: $button-border-side;
	border-top-color: $button-border-top;
	border-bottom-color: $button-border-bottom;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: tint($dark-gray, 30%);
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	margin: 0;
	outline: 0;
	overflow: hidden;
	padding: .4em .9em;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	//@include appearance(none);
	@include box-shadow(0 -1px 0 rgba(255,255,255,0.8) inset);
	@include box-sizing(border-box);

	&:hover,
	&:focus {
		border-top-color: shade($button-border-top, 8%);
		border-left-color: shade($button-border-side, 12%);
		border-right-color: shade($button-border-side, 12%);
		border-bottom-color: shade($button-border-bottom, 14%);
		color: $dark-gray
	}

	&:active {
		border-width: 2px 1px 1px
	}

	&.hidden {
		display: none
	}

	&.button-white {
		background: $white;
		border-color: tint($button-border-side, 30%);
		border-top-color: tint($button-border-top, 30%);
		border-bottom-color: tint($button-border-bottom, 30%)
	}

	// MT / Take a look at these
	&[disabled],
	&:disabled {
		color: #aaa !important;
		border-color: #ddd !important;
		text-shadow: 0 1px 0 #fff !important;
		cursor: default;
		@include box-shadow(none)
	}
}

/* Primary buttons */
.button.button-primary,
input[type="submit"].button.button-primary {
	background: $medium-blue;
	border-color: shade($medium-blue, 15%);
	border-top-color: shade($medium-blue, 10%);
	border-bottom-color: shade($medium-blue, 20%);
	color: $white;
	@include box-shadow(0 -1px 0 rgba(255,255,255,0.15) inset);

	&:hover,
	&:focus {
		background: $link-highlight;
		border-color: shade($link-highlight, 15%);
		border-bottom-color: shade($link-highlight, 20%)
	}
	
	&:active,
	&:focus {
		border-color: shade($medium-blue, 25%); // MT / check this color
		@include box-shadow(inset 0 1px 0 rgba(120, 200, 230, .6), 1px 1px 2px rgba(0, 0, 0, .4))
	}

	// MT / Take a look at these
	&[disabled] {
		background: #298cba !important;
		border-color: #1b607f !important;
		color: #94cde7 !important;
		cursor: default;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .1) !important;
		@include box-shadow(none)
	}
}

/* Custom-sized buttons */
.button.button-large,
.button-group.button-large .button,
input[type="submit"].button.button-large {
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px
}

.button.button-small,
.button-group.button-small .button,
input[type="submit"].button.button-small {
	height: 24px;
	line-height: 22px;
	padding: 0 8px 1px;
	font-size: 11px
}

.button.button-hero,
.button-group.button-hero .button,
input[type="submit"].button.button-hero {
	font-size: 14px;
	font-weight: 600;
	height: 46px;
	line-height: 44px;
	padding: 0 23px
}

/* Turn Reset 'buttons' into regular text links */
input {
	&[type=reset],
	&[type=reset]:hover,
	&[type=reset]:active,
	&[type=reset]:focus {
		background: 0 0;
		border: 0;
		padding: 0 2px 1px;
		width: auto;
		@include box-shadow(none)
	}
}

/* Buttons within sentences sit on the text baseline. */
p .button {
	vertical-align: baseline
}

/* Firefox Junk */
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border-width: 1px 0;
	border-style: solid none;
	border-color: transparent;
	padding: 0
}