.welcome__contact-cols {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.welcome__contact-col {
	flex: 1;
}

.welcome__contact--screenshot {
	flex: 1;

	img {
		border: 1px solid #ccc;
	}
}

.welcome__container .welcome__contact-build--callout {
	margin-bottom: 50px;
}
