.welcome__container {
	.welcome__get-started--callout {
		margin-top: 8px;
		margin-bottom: 40px;

		@media ( max-width: 600px ) {
			margin-top: 0;
			margin-bottom: 24px;
			font-size: 13px;
		}
	}
}
