.jetpack_connect_info {

    padding: 50px;
    text-align: left;

    img {
        width: 320px;
        float: left;
        margin: 0 20px 50px 0;
    }

    .clear {
        clear: both;
        margin: 20px;
    }
}