// ==========================================================================
// Header
// ==========================================================================

body {
	background: #f9f9f9;
}

header {
	background: #222;
	height: 33px;
	left: 0;
	right: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 5;

	.genericon {
		color: #999;
		font-size: 24px;
		height: 24px;
		margin: 4px 0 0 6px;
		width: 24px;
	}
	.progress {
		color: #bbb;
		position: absolute;
		top: 0;
		right: 6px;

		li {
			background: #555;
			display: inline-block;
			height: 12px;
			list-style: none;
			margin: 10px 4px 0 0;
			width: 12px;
			@include border-radius(1px);
		  &.done {
			background: #93d07b;
		  }
		}
		span {
			float: left;
			margin: 6px 12px 0 0;
		}
		ul {
			float: left;
			margin: 0;
			padding: 0;
		}
	}
}

// ==========================================================================
// Sections
// ==========================================================================

section {
	margin: 73px 0;
	text-align: center;

	.container {
		margin: 0 auto;
		text-align: left;
		width: 90%;

		h1 {
			font: 300 2.57143em/1.4 'Open Sans', Helvetica, sans-serif; // 36px
		}
	}
}
.skip {
	color: #999;

	a {
		color: #999;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
.step-description {
	color: #666;
	margin: -13px 0 33px;
	padding: 0;
	font-size: 18px;
	line-height: 1.6;
}

.med-icon {
	float: left;
	font-size: 23px;
	margin: 11px 9px 0 0;
}

.step1 section.step-1, .step2 section.step-2, .step3 section.step-3, .step4 section.step-4 {
	display: block;
}

// ==========================================================================
// Steps 1 & 2
// ==========================================================================

.options-box,
.themes-box,
.social-box {
	background: #eee;
	margin-bottom: 33px;
	overflow: hidden;
	padding: 2%;

	.option,
	.theme {
		background: #fff;
		border: 4px solid #e8e8e8;
		color: #999;
		float: left;
		font-size: 18px;
		margin: 1.5%;
		padding: 23px;
		position: relative;
		text-align: center;
		width: 30%;
		@include border-radius(3px);
		@include transition(all .2s ease-in-out);
		z-index: 1;

		&:hover,
		&.active {
			background: #eef5fb;
			border: 4px solid $medium-blue;
			color: #333;
		}

		span.big-icon {
			display: block;
			font-size: 43px;
			margin-bottom: 13px;
		}
	}

	.social-link {
		float: left;
		font-size: 18px;
		margin: 1.6% 2%;
		padding: 13px 18px;
		position: relative;
		text-align: center;
		width: 46%;
		@include border-radius(3px);
		z-index: 1;

		&.fb {
			background: #485ea0;
		}
		&.tw {
			background: #51a4e4;
		}
		&.connected {
			background: #73c650 !important;
		}
		.bg {
			background: #fff;
		}
		.fa {
			color: #fff;
			float: left;
			font-size: 23px;
			margin: 2px 8px 0 0;
		}
		.title {
			color: #fff;
		}
		.wrap {
			display: block;
			position: relative;
		}
	}
	.social-assurance {
		clear: both;
		color: #666;
		padding: 4px;
		text-align: center;

		strong {
			color: #000;
		}
	}

	.theme {
		height: 220px;
		width: 46%;

		.small-icon {
			font-size: 15px;
			margin-right: 6px;
		}
		.theme-buttons {
			bottom: 13px;
			position: absolute;
			right: 13px;

			a {
				@include box-shadow(0 0 4px #999);
			}
		}
	}
}
// .step2 .theme {
// 	border: 4px solid #ccc;
//
// 	.theme-preview {
// 		font-weight: 500;
// 		@include box-shadow(0 1px 2px rgba(50,50,50,0.2));
//
// 		span:before {
// 			float: left;
// 			margin-top: 11px;
// 		}
// 	}
// }

// ==========================================================================
// Step 3
// ==========================================================================

// .col-left {
// 	float: left;
// 	margin: 0;
// 	padding: 0;
// 	width: 35%;
//
// 	iframe {
// 		height: 550px;
// 		width: 100%;
// 	}
// }
// .col-right {
// 	float: right;
// 	margin: 0;
// 	padding: 0;
// 	width: 65%;
//
// 	h2 {
// 		font-weight: 300;
// 		margin: 0.61em 0 1em;
// 	}
// 	.jetpack-reasons {
// 		padding: 0 0 0 4px;
//
// 		li {
// 			list-style: none;
// 			margin-bottom: 26px;
// 			padding-left: 50px;
// 			position: relative;
// 		}
// 		span.fa {
// 			color: #555;
// 			font-size: 36px;
// 			left: 0;
// 			position: absolute;
// 			top: 3px;
// 		}
// 		strong {
// 			display: block;
// 		}
// 	}
// }
// .col-wrap {
// 	padding: 13px 23px;
// }

// WP.com iframe styles
.jetpack-login {
	background: #f6f6f6;
	border: 1px solid #eee;
	margin-bottom: 33px;
	padding: 23px 0;
	text-align: center;

	a {
		color: #999;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
.jetpack-signup {
	background: #eee;

	input[type="text"] {
		background: #fff;
		border-color: #ddd;
		margin: 6px 0 23px;
	}
	label {
		font-weight: bold;
	}
}
.login {
	.signing-up {
		display: none;
	}
	.logging-in {
		display: inline-block;
	}
}
.signup {
	.signing-up {
		display: inline-block;
	}
	.logging-in {
		display: none;
	}
}

// ==========================================================================
// Step 4
// ==========================================================================
//
// .step4 {
// 	.container {
// 		width: 50%;
// 	}
// 	.submit {
// 		float: left;
// 	}
// }

#title-prompt-text, #mce_48-body, .wp-editor-tabs, #mceu_34 {display: none;}

#title {
	font-size: 18px; 
	color:#222;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	width:700px;
}


#mce_41-body, #postdivrich {
	border: 1px solid #ddd;
	border-radius: 3px;
	width:700px;
}

#mce_41 {background: #f9f9f9;}

.skip-post {display:inline-block; margin-top:13px; margin-left:10px;}

// ==========================================================================
// Connect Jeptpack
// ==========================================================================

.jetpack-hero {
	position: relative;
	overflow: hidden; // lazy clearfix
	margin: 0 auto;
	max-width: 650px;
	background: $jetpack-green;
	background-image: linear-gradient(top, rgb(129, 168, 68), rgb(142, 183, 78));
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	text-align: center;

	.button--primary {
		margin-bottom: 8px;
		font-size: 16px;
	}
}
.jetpack-hero__title {
	position: relative;
	margin-top: 50px;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 1px;
	// text-align: center;
	z-index: 2;
}
.jetpack-hero__info {
	position: relative;
	margin-top: 110px;
	padding: 60px 30px 30px;
	background: $jetpack-cloud;
	z-index: 4;

	// p {
	// 	max-width: 400px;
	// 	margin: 0 auto;
	// }
	&:before {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 93px;
		margin-bottom: -1px;
		background: url(../img/the-cloud.svg) center bottom repeat-x;
		z-index: 4;
		// background-size: 50%;
	}
}
.flyby {
	// position: relative;
	// z-index: 0;
	@media (max-width: 768px) {
		display: none;
	}
}
@keyframes "flyer" {
	 0% {
		transform: translate3d(0px, 0px, 0px);
	}
	100% {
		transform: translate3d(570px, -570px, 0px);
	}
}
.flyer {
	position: absolute;
	top: 220px;
	left: 10%;
	z-index: 3;
	animation: flyer 3.4s 2s ease-in-out;

	&:nth-child(2) {
		left: 24%;
		width: 120px;
		height: 131px;
		animation-delay: 4.6s;
		animation-duration: 2.4s;
	}
	&:nth-child(3) {
		left: 18%;
		width: 60px;
		height: 66px;
		animation-delay: 5.8s;
		animation-duration: 4.5s;
		z-index: 0;
	}
}
