// ==========================================================================
// Main
// ==========================================================================

body {
	background: #f9f9f9;
}

header {
	background: #222;
	height: 33px;
	left: 0;
	right: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 5;

	.genericon {
		color: #999;
		font-size: 24px;
		height: 24px;
		margin: 4px 0 0 6px;
		width: 24px;
	}
	.progress {
		color: #bbb;
		position: absolute;
		top: 0;
		right: 6px;

		li {
			background: #555;
			display: inline-block;
			height: 12px;
			list-style: none;
			margin: 10px 4px 0 0;
			width: 12px;
			border-radius: 1px;
		&.done {
			background: #93d07b;
		}
		}
		span {
			float: left;
			margin: 6px 12px 0 0;
		}
		ul {
			float: left;
			margin: 0;
			padding: 0;
		}
	}
}

// ==========================================================================
// Sections
// ==========================================================================

.step {
	margin: 33px 0 0;

	h1 {
		font: 300 2.5em/1.4 'Open Sans', Helvetica, sans-serif; // 40 / 16

		@include breakpoint(phablet) {
			font-size: em(30);
		}
	}
}
.container {
	overflow: hidden; // lazy clearfix. Can apply real clearfix if needed.
}
.step-content {
	// max-width: 960px;
	// margin: 0 auto;
}
.section-header {
	margin: 0 auto;
	padding: 3% 30px;
	max-width: 650px;
	text-align: center;
}
.skip {
	color: #999;
	text-align: center;

	a {
		color: #999;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
.step-description {
	color: #666;
	margin: -13px 0 em(33, 18);
	padding: 0;
	font-size: em(18);
	line-height: 1.6;

	@include breakpoint(phablet) {
		font-size: em(16);
	}
}

.med-icon {
	float: left;
	font-size: 23px;
	margin: 11px 9px 0 0;
}

.step1 section.step-1, .step2 section.step-2, .step3 section.step-3, .step4 section.step-4 {
	display: block;
}

// ==========================================================================
// Steps 1 & 2
// ==========================================================================

// Nested a bit deep. Will refactor later
// .social-box {
.options-box {
	background: #eee;
	margin-bottom: 33px;
	overflow: hidden;
	padding: 2%;

	// .theme,
	.option {
		background: #fff;
		border: 4px solid #e8e8e8;
		color: #999;
		float: left;
		font-size: 18px;
		margin: 1.5%;
		padding: 23px;
		position: relative;
		text-align: center;
		width: 30%;
		border-radius: 3px;
		transition: all .2s ease-in-out;
		z-index: 1;

		&:hover,
		&.active {
			background: #eef5fb;
			border: 4px solid $medium-blue;
			color: #333;
		}

		span.big-icon {
			display: block;
			font-size: 43px;
			margin-bottom: 13px;
		}
	}

	.social-link {
		float: left;
		font-size: 18px;
		margin: 1.6% 2%;
		padding: 13px 18px;
		position: relative;
		text-align: center;
		width: 46%;
		border-radius: 3px;
		z-index: 1;

		&.fb {
			background: #485ea0;
		}
		&.tw {
			background: #51a4e4;
		}
		&.connected {
			background: #73c650 !important;
		}
		.bg {
			background: #fff;
		}
		.fa {
			color: #fff;
			float: left;
			font-size: 23px;
			margin: 2px 8px 0 0;
		}
		.title {
			color: #fff;
		}
		.wrap {
			display: block;
			position: relative;
		}
	}
	.social-assurance {
		clear: both;
		color: #666;
		padding: 4px;
		text-align: center;

		strong {
			color: #000;
		}
	}
}
@media (max-width: 990px) {
	section .container .options-box .option {
		font-size: 16px;
		white-space: nowrap;
	}
}
@media (max-width: 768px) {
	section .container .options-box .option {
		width: 46%;
	}
}
@media (max-width: 530px) {
	section .container .options-box .option {
		width: 95%;
	}
}


// ==========================================================================
// Step 3 (Where is this stuff?)
// ==========================================================================

// WP.com iframe styles
.jetpack-login {
	background: #f6f6f6;
	border: 1px solid #eee;
	margin-bottom: 33px;
	padding: 23px 0;
	text-align: center;

	a {
		color: #999;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
.jetpack-signup {
	background: #eee;

	input[type="text"] {
		background: #fff;
		border-color: #ddd;
		margin: 6px 0 23px;
	}
	label {
		font-weight: bold;
	}
}
.login {
	.signing-up {
		display: none;
	}
	.logging-in {
		display: inline-block;
	}
}
.signup {
	.signing-up {
		display: inline-block;
	}
	.logging-in {
		display: none;
	}
}
