.close-nux-options {
	float: right;

	span:before {
		color: #999;
	}
}

.jps-burger {
	&:hover {
		opacity: 0.6;
	}
	span:before {
		color: #999;
	}
}

.nux-options {
	display: none;
	background: #eee;
	font-family: 'Open Sans', Helvetica, sans-serif;
	left: 10%;
	overflow: hidden;
	padding: 2%;
	position: fixed;
	right: 10%;
	top: 10%;
	z-index: 9994;

	.option {
		background: #fff;
		border: 4px solid #e8e8e8;
		color: #999;
		float: left;
		font-family: 'Open Sans', Helvetica, sans-serif;
		font-size: 22px;
		margin: 1.5%;
		padding: 4% 1%;
		position: relative;
		text-align: center;
		width: 27%;
		border-radius: 3px;
		transition: all .2s ease-in-out;
		z-index: 1;

		&:hover,
		&.active {
			background: #eef5fb;
			border: 4px solid #00aadc;
			color: #333;
			visibility: visible;
		}

		span.big-icon {
			display: block;
			font-size: 63px;
			margin-bottom: 13px;
		}
	}

	a {
		text-decoration: none;
	}

	h1 {
		color: #222;
		font-family: 'Open Sans', Helvetica, sans-serif;
		font-size: 2em;
		font-weight: normal;
		margin: 1%;
		padding: 0 1%;
	}
}

.nux-shade {
	background: #222;
	bottom: 0;
	cursor: pointer;
	display: none;
	left: 0;
	opacity: 0.7;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9993;
	transition: all .5s ease-in;
}

@media (max-width: 1156px) {
	.nux-options .option {
		font-size: 16px;
		padding: 4% 1%;

		span.big-icon {
			font-size: 43px;
		}
	}
}
@media (max-width: 796px) {
	.jps-admin-menu {
		display: none;
	}
	.nux-options {
		h1 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		.option {
			display: block;
			float: none;
			font-size: 23px;
			padding: 6% 1%;
			width: 94%;

			span.big-icon {
				font-size: 53px;
			}
		}
	}
}
