@mixin transition($transition...){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

.hide-admin-menu .jps-admin-menu {
	right: -170px;
}
.jps-admin-menu { 
	background: #222;
	bottom: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 160px;
	z-index: 99998;
	@include transition(right .2s ease-in-out);

	a,
	a:visited {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #2ea2cc;
			text-decoration: none;
		}
	}
	li {
		color: #fff;
		font-size: 14px;
		line-height: 39px;
		list-style: none;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	ul {
		margin: 40px 0 0 13px;
		padding: 0;
	}
	.add-new {
		background: #111;
		padding: 8px 13px;
	}
	.right {
		float: right;
	
		img {
			float: right;
		}
	}
}
#wpadminbar .quicklinks > ul > li > a.jps-burger {
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0 10px 0 8px;

	&:hover {
		span {
			color: #ccc;
		}
	}
	&.active {
		span {
			color: #fff;
		}
	}
	span {
		color: #999;
	}
}