.welcome__review-cols {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;

	margin-top: 50px;

	@media ( max-width: 700px ) {
		margin-top: 0;
	}
}

.welcome__review-col {
	flex: 1;

	@media ( max-width: 700px ) {
		flex: 1 100%;
		margin-bottom: 15px;
	}

	.dashicons {
		color: $blue-wordpress;
		vertical-align: middle;
	}
}

.welcome__review-list {
	display: inline-block;
	text-align: left;

	ul {
		margin-top: 6px;
		margin-left: 30px;
	}
}

.welcome__dismiss {
	position: absolute;
	top: 8px;
	right: 16px;

	* {
		vertical-align: middle;
	}
}

.welcome__review-themes {
	img {
		max-width: 320px;
		border: 1px solid #ccd8e1;
	}
}
