.welcome__review-cols {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;

	margin-top: 50px;

	@media ( max-width: 700px ) {
		margin-top: 0;
	}
}

.welcome__review-col {
	flex: 1;

	@media ( max-width: 700px ) {
		flex: 1 100%;
		margin-bottom: 15px;
	}

	.dashicons {
		color: $blue-wordpress;
		vertical-align: middle;
	}
}

.welcome__review-list {
	display: inline-block;
	text-align: left;
}