.welcome__container {
	text-align: center;

	h1 {
		font-size: 32px;
		line-height: 1.2;
		font-weight: 400;
		padding-right: 0;
		margin-bottom: 0;

		@media ( max-width: 600px ) {
			font-size: 20px;
		}
	}

	h4 {
		margin-bottom: 10px;
		border-bottom: 1px #ddd solid;
	}

	h5 {
		margin-top: 0;
		font-size: 1em;
		font-weight: 400;
	}

	input,
	select {
		margin: 1;
		padding: 3px 5px;
	}

	input[type="text"] {
		width: 100%;
		box-shadow: none;
		background: #fff;
		border: 1px solid #d5d5d5;
		padding: 8px 10px;
	}

	.submit {
		background-color: #EEE;
		text-align: right;
	}

	.welcome__callout {
		margin-top: 8px;
		margin-bottom: 40px;
		color: #777;
		font-size: 18px;
		line-height: 1.5;

		@media ( max-width: 600px ) {
			margin-top: 0;
			margin-bottom: 24px;
			font-size: 13px;
		}
	}

	.welcome__skip-link {
		color: #bbb;
		font-size: 90%;
		margin-left: 20px;
		border-bottom: 1px dotted #bbb;
	}
}
