
// Grays
$gray:        darken( #ccc, 20% );

$gray-light:  #f7f7f7;
$gray-dark:   #555;

$white:       #fff;

// Calypso Blues -> Jetpack Greens (yes, blue variables are green now…)
$blue-light:      #008ec2;
$blue-medium:     #0085ba;
$blue-dark:       #006799;

$blue-wordpress:  #0073AA;

// Alerts
$alert-yellow:           #f0b849;
$alert-red:              #d94f4f;
$alert-green:            #4ab866;
