@import 'mixins/mixins';

// Tabs!
.tab__section {
	display: none;
}

.welcome__section.active + .tab__section {
	display: table;
}

// Styles!
.welcome-panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -20px;
	z-index: 100;
	margin: 0;
	padding: 0;
	border: 0;
	background: #f9f9f9;
	-webkit-box-shadow: none;
	box-shadow: none;

	.welcome-panel-close {
		top: 0;
		right: 13px;

		@media (max-width: 600px) {
			top: 58px;
		}
	}
	@media (max-width: 782px) {
		left: -10px;
	}
}

.getting-started * {
	box-sizing: border-box;
}

.getting-started {
	font-size: 0;

	h3 {
		margin: 58px 0 17px;
		font-size: 41px;
		text-align: center;

		@include breakpoint(tablet) {
			font-size: 30px;
		}
		@include breakpoint(phone) {
			font-size: 24px;
		}
	}
	h4 {
		margin: 0;
		font-size: 20px;
	}
}

.getting-started__intro {
	@include breakpoint(tablet) {
		padding: 30px;
	}
}

.getting-started__subhead {
	margin: 0 0 66px;
	color: #666;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;

	@media (max-width: 600px) {
		margin-bottom: 15px;
		font-size: 15px;
	}
	@include breakpoint(phone) {
		font-size: 13px;
	}
}

.getting-started__sections {
	text-align: center;
}

.welcome__section {
	display: inline-block;
	margin: 0 1%;
	padding: 15px 20px;
	border: 1px solid transparent;
	width: 31.333%;
	max-width: 310px;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	position: relative;
	border-color: #eee;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);

	&.active {
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-top: 3px;
			margin-left: -13px;
			border-left: 13px solid transparent;
			border-right: 13px solid transparent;
			border-bottom: 13px solid #eee;
		}
		&:after {
			margin-top: 4px;
			margin-left: -14px;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			border-bottom: 14px solid #fff;
		}
	}
	@media (max-width: 1080px) {
		min-height: 162px;
	}
	@media (max-width: 925px) {
		min-height: 182px;
	}
	@media (max-width: 767px) {
		display: block;
		margin: 0 30px 14px;
		width: auto;
		max-width: none;
		min-height: 0;
	}
	@include breakpoint(phablet) {
		margin: 0 10px 14px;
	}
}

.welcome__details {
	float: left;
	margin: 15px 30px;
	padding: 0 15px;
	border: 1px solid #eee;
	background: #fff;
	color: #777;
	text-align: left;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);

	h5 {
		margin: 0 0 6px;
		font-size: 16px;
	}
	ul {
		display: table-row;
	}
	li {
		display: table-cell;
		position: relative;
		margin: 0;
		padding: 30px 15px 65px;
		width: 25%;
		font-size: 13px;
		line-height: 1.5;

		&:last-child {
			border: 0;
		}
		@media (max-width: 767px) {
			display: block;
			padding: 18px 22px 22px;
			border-bottom: 1px solid #eee;
			width: 100%;
			min-height: 0;
		}
	}
	.button-primary {
		position: absolute;
		bottom: 30px;
		left: 15px;

		@media (max-width: 767px) {
			position: static;
		}
	}
	@media (max-width: 767px) {
		float: none;
		overflow: hidden;
		padding: 0;
	}
	@include breakpoint(phablet) {
		margin: 15px 10px;
	}
}
