$light-gray: #ccc;
$very-light-gray: #f5f5f5;

@import 'mixins/breakpoint';
@import 'mixins/clearfix';
@import 'color-overrides';

.welcome__container {
	@import 'mixins/calypso-forms';
}

@import 'typography';
@import 'container';

// Step-specific style
@import 'get-started';
@import 'site-title';
@import 'homepage';
@import 'contact';
@import 'review';
@import 'jetpack-jumpstart';