$light-gray: #ccc;
$very-light-gray: #f5f5f5;

@import 'mixins/breakpoint';
@import 'mixins/clearfix';

@import 'typography';
@import 'container';
@import 'get-started';

#welcome__site-title {
	input {
		width: 100%;
	}
}

.welcome__contact--screenshot {
	float: right;
	width: 300px;
	border: 1px solid #ccc;
}
