// ==========================================================================
// Horizontal Rules
// ==========================================================================

hr {
	background-color: $hr__color;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
