// ==========================================================================
// Elements Variables
// ==========================================================================

// Horizontal rule
$hr__color: #eee;

// _links
$link-color:(
	color: #0d72b2,
	color--hover: #0f92e5,
	color--visited: #0d72b2,
);
